body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#ff935c, #dc5353, #a72461);
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  margin: 0 auto;
  padding-bottom: 30px;
  font-family: 'Patua One', cursive;
}

.card {
  border: 1px solid #a72461;
  background: #f9e090;
}

.card > button {
  background: #ff935c;
  border: 1px solid #a72461;
}