html{
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#ffcc99, #993366);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  margin: 0 auto;
  padding-bottom: 30px;
  font-family: 'Patua One', cursive;
}

.ui.header>.image:not(.icon), .ui.header>img {
  width: 330px;
  padding-bottom: 0;
  margin-bottom: 0;
}

h1:last-child {
  margin: 0;
}

.date-picker {
  padding-bottom: 15px;
}

.potluck-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.potluck-page {
  background: linear-gradient(#ffcc99, #993366);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 25px auto;
}

.potluck-page > img {
  border: 3px solid #a72461;
  width: 80vw;
  max-width: 900px;
  max-height: 300px;
}